/* blow_candle.css */

/* Styles for the blowCandlePage container */
body {
  background-image: url("choice3.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#blowCandlePage {
  text-align: center;
  margin-top: 100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* Styles for the image */
img {
  width: 400px;
  height: 420px;
  object-fit: cover;
  position: absolute;
  top: 250px; /* Adjust the desired distance from the top */
  right:600px;
  mix-blend-mode: multiply;
  
}

/* Styles for the audio */
audio {
  display: none;
}
video {
  width: 450px;
  height: 470px;
  margin-top: 30px;
  /* Additional properties to change position */
  position: absolute;
  top: 60px; /* Adjust the desired distance from the top */
  right: 90px; /* Position at the horizontal center */ 
  mix-blend-mode: multiply;
}
p{
  color: #6b4343;
  font-size: 28px; /* Increase the font size */
  margin-bottom: 15px; /* Increase the margin bottom */
  text-align: left;
  font-style: italic;
  font-weight: bold;
  text-justify:centre;
  position: absolute;
  top: 300px; /* Adjust the desired distance from the bottom */
  left:40px;  
  max-width:350px;/* Add italic font style */

}

/* Styles for the link */
#cutCakeLink {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d2a02b;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: hand;
  margin-top: 20px;
  position: absolute;
  top: 660px; /* Adjust the desired distance from the top */
  right:690px;
}

/* Style the cutCakeLink element on hover */
#cutCakeLink:hover {
  background-color:  #263ba5;
}